
.navbar {
    background-color: rgb(83, 83, 83);
}

.navbar-brand {
    color: white;
}

.navbar-brand:hover {
    color: white;
}

.active {
    background-color: rgba(255, 255, 255, 0.26);
    border-radius: 5px;
}

.dropper {
    color: white !important;
    transition: 0.4s;
    transition-timing-function: ease-out;
}
.dropper:hover {
    background-color: #fff;
    border-radius: 5px;
    color: #333 !important;
    transition: 0.15s;

}

.navbar-toggler-icon {
    color: white;
}