
body{
    font-family: Georgia, serif;

}
p {
    text-indent: 15px;
    font-size: 100%;
    line-height: 20px;
    text-align: justify;
}
ul {
    list-style-type: square;
}
ol {
    list-style-type: lower-roman;
}
li {
    text-align: justify;
}
h1 {
    font-size: 160%
}
h2 {
    font-size: 125%;
}
figure {
    text-align: center;
}
figcaption{
    font-style: italic;
    text-decoration: underline;
}
img {
    height: 300px;
}
.underline {
    text-decoration: underline;
}
.bold {
    font-weight: bold;
}
#under {
    text-decoration: underline;
}
#boldtext {
    font-weight: bold;
}

.contents {
    text-align: center;
    padding: 10px;
    margin: 0 auto;
    width: 950px;
    border-color: white;
    border-style: solid;
    border-width: 2px;
}
figure {
    border-style: solid;
    border-color: blue;
    border-width: 2px;
    border-radius: 25px;
    padding: 10px;
}

img {
    box-shadow: 10px 10px 5px gray;    
}