body {
    font-family: Georgia, serif;
    background-color: #333;
    color: #fff;
    padding-top: 60px;
}
#drop {
    color: white;
    transition: 0.4s;
    transition-timing-function: ease-out;
}
#drop:hover {
    background-color: #fff;
    color: #333;
    border-radius: 5px;
    transition: 0.15s;
}
#drop:active {
    border-top-left-radius: 5px ;
    border-top-right-radius: 5px;
}
#drop-item {
    color: black;
    text-decoration: none;
    padding: 14px 16px;
    transition: 0.2s;

}   
#drop-item:hover {
    background-color: #333;
    color: #fff;
    transition: 0.2s;
}

#logindropdown:hover {
    background-color: #fff;
    color: #333;
    border-radius: 5px;
}
#nav-button {
    color: white;
    transition: 0.4s;
    transition-timing-function: ease-out;
}
#nav-button:hover {
    background-color: #fff;
    color: #333;
    border-radius: 5px;
    transition: 0.15s;
}
#login-btn {
    text-decoration: none;
    color: green;
}

#main-body {
    margin-top: 100px;
}

.main-photo {
    border-radius: 30px;
}
.dropdown-menu {
    min-width: 150px;
}
.dropdownlogin {
    min-width: 400px;
}
.logindropdown {
    color: white;
}
#logindrop {
    background-color: #333;
    color: white;
}
.dropdown-in {
    color: #fff;

}

#logbookbody {
    padding-left: 60px;
}
.rememberme {
    position: relative;
    left: 15px;
}
